.inputGroup {
  margin-bottom: 1rem;
}

.inputGroup label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 0.875rem;
  color: #a0a0a0;
}

.input {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #444;
  border-radius: 0.25rem;
  background-color: #333;
  color: #fff;
  font-size: 1rem;
}

.input:focus {
  outline: none;
  border-color: #32a852;
  box-shadow: 0 0 0 2px rgba(50, 168, 82, 0.5);
}

p {
  font-size: 1rem;
}

.form {
  font-weight: 400;
}

textarea {
  height: 150px;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

textarea::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 10px;
}

textarea::-webkit-scrollbar-thumb {
  background: #645c5c;
  border-radius: 10px;
}

.button {
  @apply transition-all;
  padding: 0.75rem;
  background-color: #32a852;
  border: none;
  border-radius: 0.25rem;
  font-size: 1rem;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #24793b;
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
