.sidebar {
    @apply transition-all;
    background-color: #223030;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}